:root{
    --background: darkviolet
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background)
}
#navegacao{
    width: 100%;
    height: 70px;
    position: fixed;

    gap: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
#navegacao span {
    cursor: pointer;
    transition: 1s;
    width: 100px;
}
#navegacao span:hover {
    color: #fff;
    height: 100px;
    background-color: var(--background)
    
}